.json-key, .yaml-key {
    -fx-fill: #328FAC;   /* light blue */
    -fx-font-weight: bold;
}

.json-string, .yaml-string {
    -fx-fill: #B2762E;
    -fx-font-weight: bold;
}

.json-number, .yaml-number {
    -fx-fill: #159943;
    -fx-font-weight: bold;
}

.json-boolean, .yaml-boolean {
    -fx-fill: #676DFF;
    -fx-font-weight: bold;
}

.yaml-comment {
    -fx-fill: #6a737d;
    -fx-font-style: italic;
}

.json-null {
    -fx-fill: #676DFF;
    -fx-font-weight: bold;
}

.json-brace, .json-bracket, .json-colon, .json-comma {
    -fx-fill: #000000;
}

.json-error-line {
    -fx-background-color: rgba(255,0,0,0.15);
}