.json-key {
    -fx-fill: #0509fa;   /* light blue */
    -fx-font-weight: bold;
}

.json-string {
    -fx-fill: #ff8c00;
}

.json-number {
    -fx-fill: #398500;
}

.json-boolean {
    -fx-fill: #569CD6;
}

.json-null {
    -fx-fill: #569CD6;
}

.json-brace, .json-bracket, .json-colon, .json-comma {
    -fx-fill: #000000;
}

.json-error-line {
    -fx-background-color: rgba(255,0,0,0.15);
}