.tab-pane {
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab {
    -fx-background-radius: 0;
    -fx-padding: 4 12 4 12;
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-background;
}

.tab-pane .tab-label {
    -fx-font-size: 12px;
}